[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Interactive Python shell (helpful for testing)
ipython = "*"

# Database ORM
sqlalchemy = "*"

# Pretty tables in CLI
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.8"
